<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="UTF-8">
  <title>Kaos School</title>
</head>
<body>

<div class="row" th:if="${dados == null}">
  <form class="col s12 m4 offset-m4" action="/cadastrar" method="post">
    <div class="card">
      <div class="card-action deep-purple darken-2 white-next">
        <h3 class="center">Cadastro</h3>
      </div>
      <div class="card-content">
        <div class="form-field">
          <label for="username">Usuário</label>
          <input type="text" name="nome" id="username">
        </div><br>

        <div class="form-field">
          <label for="password">Senha</label>
          <input type="password" name="senha" id="password">
        </div><br>

        <div class="form-field row">
            <button type="button" class="btn waves-effect waves-dark col s3" onclick="setInput()">Gerar Matrícula</button>
            <input class="col s3 center-align" type="text" name="matricula" id="code" value="" readonly>
        </div>

        <div class="form-field">
          <button class="btn-large waves-effect waves-dark deep-purple darken-2" style="width:100%;" type="submit">Criar Conta</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row" th:if="${dados != null}">
  <form class="col s12 m4 offset-m4" th:object="${dados}" method="post" action="/admin/editar">

    <div class="card">
      <div class="card-action deep-purple darken-2 white-next">
        <h3 class="center">Editar Conta</h3>
      </div>
      <div class="card-content">
        <div>
          <input type="hidden" name="id" th:field="*{id}" readonly>
          <input type="hidden" name="matricula" th:field="*{matricula}" readonly>
        </div>

        <div class="form-field">
          <label for="adminName">Usuário</label>
          <input type="text" name="nome" id="adminName" th:field="*{nome}">
        </div><br>

        <div class="form-field">
          <label for="adminPass">Senha</label>
          <input type="password" name="senha" id="adminPass" th:field="*{senha}">
        </div><br>

        <div class="form-field">
          <button class="btn-large waves-effect waves-dark deep-purple darken-2" style="width:100%;">Editar Conta</button>
        </div>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
</html>